* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Sono", sans-serif;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  font-family: "Sono", sans-serif;
  background-color: #292524;
  color: #fafaf9;
}

input,
textarea,
button,
select {
  background-color: #78716c;
  border: none;
  border-radius: 1rem;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

form button {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
}

label {
  margin-bottom: 0.6rem;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  position: sticky;
  top: 0;
  background-color: #292524;
}

ul li a {
  margin-bottom: 1rem;
  display: inline-block;
  text-decoration: none;
  color: rgb(59, 130, 246);
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
  font-size: 1.24rem;
}

ul li a:hover,
ul li a:active {
  border-bottom: 2px solid whitesmoke;
}

ul li:nth-child(2n) a {
  color: rgb(22, 163, 74);
}

ul li:nth-child(3n) a {
  color: rgb(239, 68, 68);
}

ul li:nth-child(4n) a {
  color: rgb(234, 179, 8);
}

ul li:nth-child(5n) a {
  color: rgb(219, 39, 119);
}

ul li:nth-child(6n) a {
  color: rgb(20, 184, 166);
}

ul li:nth-child(7n) a {
  color: rgb(249, 115, 22);
}

ul li:nth-child(8n) a {
  color: rgb(139, 92, 246);
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  padding: 1.1rem 1.4rem 0.8rem;
  font-size: 1.2rem;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  border-radius: 10rem;
  font-family: Coiny, sans-serif;
  text-transform: uppercase;
  transition: 0.3s;
}

nav ul li:hover {
  transform: scale(110%) rotate(-2deg);
}

nav a,
nav a:visited {
  color: #fff !important;
  text-decoration: none;
  margin-bottom: 0 !important;
  border-bottom: none !important;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

main {
  margin: auto;
  padding: 0 2rem;
}

section {
  margin-top: 1em;
}

article {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #44403c;
  border-radius: 1em;
}

h1 {
  font-size: 3.5rem;
  margin-left: 1rem;
}

h2 {
  margin-bottom: 1rem;
  letter-spacing: -1px;
  font-size: 2rem;
}

p {
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px;
}

.postCredit {
  font-size: 1rem;
}

.postCredit a:link,
.postCredit a:visited {
  margin-right: 0.5rem;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 400;
  color: #3b82f6;
  font-weight: 600;
}

.postCredit a:hover,
.postCredit a:focus {
  color: #a8a29e;
}

.reactionButton {
  background-color: #78716c;
  border: none;
  border-radius: 10rem;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: 6px 12px;
  transition: 0.3s;
  margin: 1rem 1rem 0 0;
}

.deleteButton {
  background-color: palevioletred;
  color: white;
}
